 <p class ="message"><%= flash[:succes] %></p>

<h1>Book detail</h1>
<%= @book.title %>
<%= @book.body %>
<%= link_to "Destroy",book_path(@book),method: :delete ,"data-confirm" => "Are you sure?", class: "link"%>


